
# Copyright (c) 2013-2014 embed-dsp
# All Rights Reserved

# $Author$
# $Date$
# $Revision$

.gitignore filter=rcskw
.gitattributes filter=rcskw

# Text
*.txt filter=rcskw

# Shell Script
*.sh filter=rcskw

# Python
*.py filter=rcskw

# Matlab
*.m filter=rcskw

# XML and HTML
*.xml filter=rcskw
*.html filter=rcskw

# Java and C#
*.java filter=rcskw
*.cs filter=rcskw

# C / C++
*.h filter=rcskw
*.c filter=rcskw
*.hpp filter=rcskw
*.cpp filter=rcskw
*.cxx filter=rcskw

# Assembler
*.asm filter=rcskw

# Verilog / VHDL
*.v filter=rcskw
*.vhd filter=rcskw
